.artist-top {
  margin: 40px 0 0 0;
  position: relative;

  &__container {
  }

  &__body {
  }

  &__title {
    font-size: 25px;
    font-weight: 600;
  }

  &__list {
    column-gap: 20px;
    row-gap: 30px;
  }

  &__item {
  }

  &__song {
  }

  &__img {
  }

  &__desc {
  }

  &__name {
  }

  &__artist {
  }

  &__more {
  }
}