

.footer {
  margin: 40px 0 0 0;
  flex: 0 0 auto;
  background: #000;

  &__container {
  }

  &__body {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  &__title {
    color: #fff;
    font-weight: 700;
    font-size: 10px;
  }
}
