.loading {
  height: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;

  &__title {
    font-weight: 700;
  }

  &__dot {
    font-weight: 700;
    animation: 1s linear infinite loading;
  }

  &__dot-1 {
  }

  &__dot-2 {
    animation-delay: .1s;
  }

  &__dot-3 {
    animation-delay: .2s;
  }
}

@keyframes loading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}